	
/*		selector{
property: value;
}*/

/*
element name = element
. = class
# = id
* = everything


https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors
*/
		
h1{
	color:#AC0055;
/*
	border-color:black;
	border-width:3px;
	border-style:groove
*/
	
	border: 3px solid white;
}
	
h4{
	color: cadetblue;
	
}
			
li{
	color:#9E00ff;
}

body{
	background:	url(http://getwallpapers.com/wallpaper/full/b/8/e/59136.jpg);
}

p{
	background-color: hsla(190,100%,35%,0.60);
}

div{
	background-color: hsla(0,0%,100%,0.10);
	border: 10px outset hsla(0,0%,100%,0.10);
}

#p1{
	background-blend-mode: color
}
